.production-menu {
    width: 100%;
    max-width: 600px;
}

.production-menu-brand {
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.production-menu-p {
    margin-top: 40px;
    line-height: 1px;
}

.production-menu-card {
    width: 100%;
    max-width: 350px;
}

.production-menu-input {
    width: 100%;
    padding: 12px 0px 12px 10px;
    border: 1px solid rgb(229 231 235);
    background-color: rgb(243 244 246);
    border-radius: 5px;

}

.production-menu-textarea {
    width: 100%;
    padding: 10px 0px 10px 12px;
    border: 1px solid rgb(229 231 235);
    background-color: rgb(243 244 246);
    border-radius: 5px;
}

.production-menu-input1 {
    width: 100%;
    padding: 12px 0px 12px 10px;
    border: 1px solid rgb(229 231 235);
    background-color: rgb(243 244 246);
    border-radius: 5px;

}

.production-menu-input2 {
    width: 100%;
    margin-left: 5px;
    padding: 12px 0px 12px 6px;
    border: 1px solid rgb(229 231 235);
    background-color: rgb(243 244 246);
    border-radius: 5px;
}

.production-menu-button {
    width: 100%;
    margin-top: 30px;
    margin-left: 5px;
    padding: 12px;
    font-size: 18px;
    background-color: rgb(37 99 235);
    border: 1px transparent;
    border-radius: 5px;
    color: white;
}