.shipping {
    width: 100%;
    max-width: 1600px;
    height: 80px;
    background-color: rgb(219 234 254);
    text-align: left;
}

.shipping-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 15px;
}

.shipping-container-menu {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.shipping-box-menu {
    width: 100%;
    max-width: 810px;
    height: 354px;
    padding-top: 10px;
    padding-left: 35px;
    background-color: white;
    border: 1px solid rgb(195, 196, 198);
    border-radius: 5px;
    text-align: left;
}

.shipping-h2-1 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.shipping-box-cart {
    width: 100%;
    max-width: 372px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 10px;
    border: 1px solid rgb(195, 196, 198);
    border-radius: 5px;
    text-align: left;
}
.shipping-box-cart:hover {
    border: 1px solid rgb(34, 103, 243);
}

.shipping-box-label {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 15px;
}

.shipping-box-radio {
    width: 1rem;
    height: 1rem;
    margin-top: 22px;
    background-color: initial;
    cursor: default;
    appearance: auto;
}

.shipping-box-small {
    color: rgb(156 163 175);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.shipping-box-button {
    width: 160px;
    height: 42px;
    padding: 10px 20px;
    border: 1px solid rgb(195, 196, 198);
    border-radius: 5px;
    color: rgb(37 99 235);
    text-align: center;

}
.shipping-box-button:hover {
    border: 1px solid rgb(15, 90, 240);
    background-color: rgb(226, 224, 224);
    border-radius: 5px;
    color: rgb(7, 119, 230);
}

.shipping-box-button-2 {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.shipping-box-back {
    width: 76px;
    height: 42x;
    padding: 10px 10px;
    border: 1px solid rgb(195, 196, 198);
    border-radius: 5px;
    color: rgb(20, 20, 21);
    text-align: center;
}
.shipping-box-back:hover {
    border: 1px solid rgb(15, 90, 240);
    background-color: rgb(12, 223, 19);
    color: rgb(245, 245, 249);
}

.shipping-box-checkoud {
    width: 108px;
    height: 42x;
    padding: 10px 20px;
    border: 1px solid rgb(195, 196, 198);
    background-color: rgb(12, 223, 19);
    border-radius: 5px;
    color: rgb(13, 13, 13);
    text-align: center;
}

.shipping-box-checkoud:hover {
    border: 1px solid rgb(15, 90, 240);
    background-color: rgb(7, 172, 13);
    color: rgb(246, 242, 242);
}

.shipping-item-cart {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align-last: left;

}

.shipping-item-h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    margin-left: 35px;
}

.shipping-item-li {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    color: rgb(75 85 99);
}

.shipping-item-span-1 {
    margin-right: 200px;
    text-align: left;
}

.shipping-item-span-2 {
    color: black;
    font-weight: 700;

}

.shipping-item-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(200, 199, 199);
}

.shipping-item-div{
    margin-left: 33px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 15px;
}

.shipping-item-img {
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(200, 199, 199);
}

.shipping-item-img-span {
    padding: 5px 10px;
    border: 1px solid rgb(200, 199, 199);
    border-radius: 50%;

}

@media screen and (max-width: 738px) {
    .shipping-container-menu {
        margin-top: 40px;
        display: block;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
    }

    .shipping-box-menu {
        width: 100%;
        max-width: 810px;
        height: 354px;
        padding-top: 10px;
        padding-left: 10px;
        margin-right: 35px;
    }

    .shipping-box-cart {
        width: 60%;
        padding: 0;

    }

}